@CHARSET "UTF-8";

/* 字体外观 */
* {
	font-size: 12px;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 12px;
}

dt {
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.notice {
	color: red;
}

.comment {
	!important;
	color: red;
}

.delete {
	text-decoration: line-through;
}

a.normal {
  text-decoration: none;
}

/* 排版 */
body {
	min-width: 1000px;
}

body>p {
	text-indent: 2em;
}

  /* 紧临下行 */
.next {
	margin-bottom: 0;
}

.next + * {
	margin-top: 0;
}

body>div,pre {
	margin-left: 2em;
}

div.textarea {
	border: 1px solid;
	width: 80%;
	padding: 5px;
}

div.code {
	border: 1px solid;
	width: 80%;
	padding: 5px;
}

div.ext {
	border: 1px dotted;
	background-color: #eeeeee;
	width: 80%;
	padding: 5px;
}

div.ext ul {
	margin: 0;
	margin-left: 2em;
	padding: 0;
}

div.ext ol {
	margin: 0;
	margin-left: 2em;
	padding: 0;
}

div.ext li {
	margin: 0;
}

div.ext p {
	margin: 0;
}

pre.textarea {
	border: 1px solid;
	width: 80%;
	padding: 5px;
}

pre.code {
	border: 1px solid;
	width: 80%;
	padding: 5px;
}

pre.code>code {
  margin: 0;
  padding: 0;
}

/* 无标记列表 */
ol.none {
	margin: 0;
	margin-left: 2em;
	padding: 0;
}

ul.none {
	margin: 0;
	margin-left: 2em;
	padding: 0;
}

/* 表格 */
table {
	border-collapse: collapse;
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

caption {
	font-weight: bold;
}

table, th, td {
	border: 1px solid;
	padding: 5px;
}

td {
	vertical-align: top;
}

/* 编号 */
  /* 有序列表第一级列表项索引为大写罗马数字 */
div.list>ol>li {
	list-style-type: upper-roman;
}
  /* 有序列表第二级列表项索引为小写罗马数字 */
div.list>ol>li>ol>li {
	list-style-type: lower-roman;
}
ol.none,ul.none li {
	list-style-type: none;
}

body {
	counter-reset: h1num;
}

h1 {
	counter-reset: h2num;
}

h2 {
	counter-reset: h3num;
}

h1:before {
	counter-increment: h1num;
	content: counter(h1num) ". "
}

h2:before {
	counter-increment: h2num;
	content: counter(h1num) "." counter(h2num) ". "
}

h3:before {
	counter-increment: h3num;
	content: counter(h1num) "." counter(h2num) "." counter(h3num) ". "
}